AddDefaultCharset utf-8
Options -MultiViews
RewriteEngine On

# Redirige les appels API vers le router de l'API
RewriteCond %{REQUEST_URI} ^ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ example.php [QSA,L]
